<h1>Hello, {{userName}}!</h1>

<div *ngIf="tourService.mode=='add'" class="alert alert-success">Tour has been added successfully</div>
<div *ngIf="tourService.mode=='edit'" class="alert alert-success">Tour has been updated successfully</div>
<button class="btn btn-info" (click)="openDialog()">Add Tour</button>
<mat-spinner *ngIf="!tours || !clients || !excursions"></mat-spinner>

<table class='table' *ngIf="tours">
  <thead>
    <tr>
      <th>Date</th>
      <th>Excursion</th>
      <th>Client</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of tours" (click)="openDialog(t)">
      <td>{{ t.date | date}}</td>
      <td>{{ getExcursion(t) }} </td>
      <td>{{ getClient(t) }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteTour(t.id); $event.stopPropagation();"><span class="glyphicon glyphicon-remove"></span></button>
      </td>
    </tr>
  </tbody>
</table>
